// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

.container {
  .left-col {
    opacity: 1;

    .profilepic img {
      border: 3px solid #EFEFEF;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
    }
  }

  .aboutme p {
    color: #999;
  }
}




